/* variables */
:root {
	--PALETTE-1: #3a606e; 
	--PALETTE-2: #607b7d;
	--PALETTE-3: #828e82;
	--PALETTE-4: #aaae8e;
	--PALETTE-5: #E0E0E0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.App {
	width: 100vw;
}

